{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}
{% block background %}background="https://images.pexels.com/photos/940288/pexels-photo-940288.jpeg?cs=srgb&dl=pexels-toa-heftiba-%C5%9Finca-940288.jpg&fm=jpg" {% endblock %}
{% block body %}

<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>CONTACT US</span>
          <h2>CONTACT US</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Our Address</a></h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="mailto:alfinvarghese2000@gmail.com">Email Us</a></h4>
              <p>getyourplan@example.com</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Call Us</a></h4>
              <p>+918943211769</p>
            </div>
          </div>




        </div>

      </div>

    </section>

        <!-- End Contact Section -->


  <!-- ======= Footer ======= -->
{% comment %} <video autoplay muted loop id="myVideo">
  <source src="{%static './myapp/assets/video/home3.mp4' %}" type="video/mp4">
</video> {% endcomment %}

<!-- Optional: some overlay text to describe the video -->
<style>
  #myVideo {
 position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>

{% endblock %}
