{% extends 'myapp/user_base.html' %}
{% load static %}
{% block title %}Order Details{% endblock %}
{% block background %}
    background="https://images.pexels.com/photos/6615027/pexels-photo-6615027.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-6615027.jpg&fm=jpg"
{% endblock %}
{% block body %}
    <center>
        <h2><font color="#366092">Order Details</font></h2>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Equipment Name</th>
                        <th>Number of Equipments</th>
                        <th>Number of Days</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.eq.equ_name }}</td>
                        <td>{{ order.no }}</td>
                        <td>{{ order.day }}</td>
                        <td>{{ order.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </center>
{% endblock %}
