{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
User Login
{% endblock %}
{% block background %}background="https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" {% endblock %}
{% block body %}

<center>

<table>
    <div class="container pt-3"><br>
         <h1><font color="#366092">USER FORGOT</font></h1>
        <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">

        <form role="form" name="frm" action="{% url 'user_forgot' %}"  method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="uname"><font color="#366092">User Name</font></label>
                <input class="form-control" type="text" id="uname" name="uname">
            </div>

            <button type="submit" class="btn btn-info" id="bt" name="bt">Send</button>


            <br/>
            <br>

        </form>

            </div>

    {{msg}}

</center>
{% endblock %}