{% extends 'myapp/user_base.html' %}
{% load static %}
{% block title %}Plans Search{% endblock %}
{% block background %}background="https://images.pexels.com/photos/262347/pexels-photo-262347.jpeg?cs=srgb&dl=pexels-pixabay-262347.jpg&fm=jpg" {% endblock %}
{% block body %}
<center>
    <h2><font color="#366092">Plans Search</font></h2>
    <div class="container">
    <form name="frm"  role="form" action="{% url 'user_plans_search' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="query">search</label>
                <input class="form-control" type="text" name="query" placeholder="search" id="query">
            </div>
        <button type="submit" class="btn btn-info" id="bt" name="bt">Search</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}
        </form>
    </div>
</center>

{% endblock %}